/* STYLE SECTIONING TAGS */
body {
  background-color: #d0d1c1;
  text-align: center;
  margin: 0px;
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

/* STYLE TEXT */
#contacts{
  margin-top: auto;
}
h1 {
  color: #820d0d;
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
}

p {
  margin-left: 20em;
  margin-right: 20em;
  font-family: 'Georama', sans-serif;
  font-family: 'Playfair Display', serif
}

table{
  margin:0 auto;
}



/* STYLE IMAGES */
#video {
  padding:3%;
}
#mainimg {
  border-radius: 50%;
  border: 4px solid #820d0d;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(180deg);
}

#img {
  padding: 2%;
}

/* STYLE NAV BAR */

#navbar{
  list-style-position: inside;
  background-color: #820d0d;
  padding: 2em;
}

#contacts{
  list-style-position: inside;
  background-color: #820d0d;
  padding: 2em;
}

li {
  display: inline;
  padding: 6px;
}

li a {
  text-decoration: none;
  color: #d0d1c1;
  padding: 1em;
}

li a:hover {
  background-color: #d0d1c1;
  color: #820d0d;
  padding: 1em;
}